<header>
    <div class="container">
        <app-menu></app-menu>
    </div>
</header>
<!-- <div class="container">
    <div class="" align="center">
        <h1>Listar Usuarios</h1>
        <ng-template [ngIf]="hayregistro()" [ngIfElse]="no_personas_registradas">
            <table class="table table-responsive">
                <thead class="thead-dark letrapequena">
                    <tr class="letrapequena1">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Price</th>
                        <th>Expire Date</th>
                    </tr>
                </thead>
                <tr *ngFor="let contacto of datosformulario" class="">
                    <td>{{contacto._id}}</td>
                    <td>{{contacto.name}}</td>
                    <td>{{contacto.email}}</td>
                    <td>{{contacto.price}}</td>
                    <td>{{contacto.expiry_date}}</td>
                    <td><button (click)="eliminarpersonas(contacto._id)" class="btn btn-danger tamanobutton"> Borrar </button></td>
                </tr>
            </table>
        </ng-template>
        <ng-template #no_personas_registradas>
            <h1>
                <p>No hay personas Registradas</p>
            </h1>
        </ng-template>
    </div>
</div> -->