<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <button class="barra navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="tamano nav-link" href="home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="tamano nav-link" href="abrirbase">Ver base de datos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="tamano nav-link" href="crear">Crear proveedor</a>
        </li>
        <li class="nav-item">
          <a class="tamano nav-link" href="buscar">Buscar</a>
        </li>
        
      </ul>

    </div>
  </nav>
